--enable blankLinesAroundMark
--enable blankLinesAtEndOfScope
--enable blankLinesAtStartOfScope
--enable blankLinesBetweenScopes
--enable consecutiveBlankLines
--enable consecutiveSpaces
--enable duplicateImports
--enable elseOnSameLine
--enable fileHeader
--enable hoistPatternLet
--enable indent
--enable linebreakAtEndOfFile
--enable linebreaks
--enable numberFormatting
--enable spaceAroundOperators
--enable redundantBackticks
--enable redundantGet
--enable redundantInit
--enable redundantLet
--enable redundantNilInit
--enable redundantParens
--enable redundantPattern
--enable redundantRawValues
--enable redundantReturn
--enable redundantSelf
--enable redundantVoidReturnType
--enable semicolons
--enable sortedImports
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundGenerics
--enable spaceAroundOperators
--enable spaceAroundParens
--enable spaceInsideBraces
--enable spaceInsideBrackets
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens
--enable modifierOrder
--enable strongOutlets
--enable todos
--enable trailingCommas
--enable trailingSpace
--enable void
--enable wrapArguments
--disable braces
--disable trailingClosures
--disable andOperator
--disable unusedArguments
--header strip
--commas inline
--ifdef indent
--indent 4
--hexliteralcase uppercase
--exponentcase uppercase
--hexgrouping 4,8
--binarygrouping 4,8
--decimalgrouping 3,6
--octalgrouping 4,8
--nospaceoperators
--self remove
--semicolons never
--trimwhitespace always
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--selfrequired define,retry,retryOnNetworkError
--swiftversion 5.0
